<html>
<head>
  <script src=
"https://code.jquery.com/jquery-3.5.1.js">
    </script>
<style>
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
body {
        overflow: auto;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIfQgkvet2bzIAC0hlMopA61o1Ey-_LvZNZg&usqp=CAU");
    }

    /* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

</style>

</head>
<body>

<h1 style="text-align: center; color: white"><u>Admin Dashboard</u></h1>

<button class="favorite styled" type="button" style="margin-left: 80vw;" onClick="LogOut()">
    Log Out
</button>
<br>

<input class="favorite styled" value ="User Management" type="submit" onClick="myFunction()" style="margin-left: 83px; margin-bottom: 25px;"/>
    <script>
      function myFunction() {
        window.location.href="/admin";
      }
    </script>

<div>
  <button class="favorite styled"
          type="button" style="margin-left: 83px; margin-bottom: 25px;" onClick="myForm()">
      Views Analytics
  </button>
</div>


<div>
<button class="favorite styled"
        type="button" style="margin-left: 83px; margin-bottom: 25px;" onClick="myLogs()">
    Logs
</button>
</div>
<div>
<button class="favorite styled"
        type="button" style="margin-left: 83px; margin-bottom: 25px;" onClick="myReports()">
    Upload Reports
</button>
</div>
<div>
<button class="favorite styled"
        type="button" style="margin-left: 83px; margin-bottom: 25px;" onClick="myPosts()">
    Download Reports
</button>
</div>

<div>
<button class="favorite styled"
        type="button" style="margin-left: 83px; margin-bottom: 25px;" onClick="myCrms()">
    CRM users
</button>
</div>

</div>

<script>
function myForm() {
        window.location.href="/analytics";
}

function myLogs() {
        window.location.href="/logs";
}

function myPosts() {
        window.location.href="/posts";
      }

function myReports() {
        window.location.href="/companies";
      }

function LogOut() {
        window.location.href="/logout"
}

function myCrms() {
        window.location.href="/crmusers";
      }

</script>
</body>
</html>